body {
    background-color: #fff;
    color: #887C6E;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}

.header__logo {
    color: #887C6E;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
}

.header__button button {
    background-color: #F4F7F4;
    color: #DAD3CF;
    border: 1px solid #DAD3CF;
    text-align: right;
    padding: 5px 10px;
    margin-left: 30px;
    text-decoration: none;
}

.admin-form__heading {
    text-align: center;
    color: #887C6E;
}

.admin-form__content {
    max-width: 1230px;
}

/* 検索フォーム */
.search-form {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: left;
}
.search-form__item {
    margin: 0 10px 0;
}
.search-form__item-input {
    width: 280px;
}
.search-form__item-select {
    margin: 0 10px 0;
    width: 150px;
}

.search-form__button-submit {
    margin: 0 10px 0;
    background-color: #7f7669;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    display: inline;
}
.search-form__button-submit--reset{
    background-color: #d9c5b5;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    display: inline-block;
}
.export {
    display: inline;
}

/* テーブルCSS */
.admin-table__inner {
    margin: 0 auto;
    text-align: center;
}
.admin-table tr {
    text-align: left;
    border:1px solid #7f7669;
}

.admin-table__row-title {
    background-color: #7f7669;
    color: #fff;
    height: 50px;
}



/* モーダルウィンドウCSS */
.modal-open-button {
    padding: 10px 20px;
    color: #887C6E;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #887C6E;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.modal:target {
    display: flex;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: translate(50%, -50%);
}

.modal-wrapper {
    position: relative;
    width: 80%;
    max-width: 500px;
    max-height: 70%;
    padding: 20px;
    margin: auto;
    overflow: scroll;
    background-color: #FEFEFE;
    border-radius: 5px;
}

.modal-content h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -0.02em;
}